{:jvm-opts ["-Duser.language=en" "-Duser.country=US" "-Dfile.encoding=UTF-8"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.2"}}
 :aliases
 {:dev
  {:jvm-opts ["-ea"]
   :extra-paths ["dev" "test"]
   :extra-deps 
   {io.github.tonsky/duti {:git/sha "0e934d934b0b5d1ab1a608f26b68f5467934b028"}}}}}